.principal {
    max-width: 600px;
    width: 90%;
    margin: 4em auto;
    padding: 2rem;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.principal__titulo {
    font-family: var(--fonte-secundario);
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, var(--roxo), var(--titulo-fundo));
    text-align: center;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.principal__subtitulo {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--azul);
    margin-bottom: 1.5rem;
}


